@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}
.gradient-text {
  background: linear-gradient(45deg, rgb(212, 117, 231), rgb(237, 114, 171));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}